#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar {
  --background: var(--ion-color-primary);  
}

ion-title {
  --color: var(--ion-color-primary-contrast);
}

ion-card {
  width: 100%;
}

/**
 * Weather forecast card
 */
 .weather-card {
  background: #fff;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 16px;
  padding: 16px;
  position: relative;
}

.weather-card .remove-city {
  background-color: transparent;
  border: none;
  float: right;
  font-size: x-large;
}

.weather-card .location {
  font-size: 1.75em;
}

.weather-card .date,
.weather-card .description {
  font-size: 1.25em;
}

.weather-card .current {
  display: flex;
}

.weather-card .current .icon {
  height: 128px;
  width: 128px;
}

.weather-card .current .visual {
  display: flex;
  font-size: 4em;
}

.weather-card .current .visual .scale {
  font-size: 0.5em;
  vertical-align: super;
}

.weather-card .current .visual,
.weather-card .current .description {
  flex-grow: 1;
}

.weather-card .current .description .label {
  color: #666;
}

.weather-card .future {
  display: flex;
}

.weather-card .future .oneday {
  flex-grow: 1;
  text-align: center;
}

.weather-card .future .oneday .icon {
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}

.weather-card .future .oneday .temp-high,
.weather-card .future .oneday .temp-low {
  display: inline-block;
}

.weather-card .future .oneday .temp-low {
  color: #666;
}

/**
 * Media query to adjust size of content for small screens
 */

@media (max-width: 450px) {
  .weather-card .date,
  .weather-card .description {
    font-size: 0.9em;
  }

  .weather-card .current .icon {
    height: 96px;
    width: 96px;
  }

  .weather-card .current .visual {
    font-size: 3em;
  }

  .weather-card .future .oneday .icon {
    height: 32px;
    width: 32px;
  }
}