<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let weatherLocation of weatherData">
      <ion-card class="weather-card">
        <ion-card-header>
          <ion-card-title class="location">{{ weatherLocation.location }}</ion-card-title>
          <ion-card-subtitle class="date">{{ weatherLocation.locationTime }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="description">overcast clouds</div>
          <div class="current">
            <div class="visual">
              <div class="icon"><img class="img-responsive" src="assets\icon\02n@2x.png"></div>
              <div class="temperature">
                <span class="value">10</span><span class="scale">°C</span>
              </div>
            </div>
            <div class="description">
              <div class="humidity">
                <span class="label">Humidity:</span>
                <span class="value"> 70</span><span class="scale">%</span>
              </div>
              <div class="wind">
                <span class="label">Wind:</span>
                <span class="value"> 7 </span>
                <span class="scale">km/h</span>
                <span class="direction"> 300</span>°
              </div>
              <div class="sunrise">
                <span class="label">Sunrise:</span>
                <span class="value"> 07:05</span>
              </div>
              <div class="sunset">
                <span class="label">Sunset:</span>
                <span class="value"> 16:28</span>
              </div>
            </div>
          </div>
          <div class="future">
            <div class="oneday">
              <div class="date">Thu</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">10<span class="value"></span>°</div>
              <div class="temp-low">1<span class="value"></span>°</div>
            </div>
            <div class="oneday">
              <div class="date">Fri</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">13<span class="value"></span>°</div>
              <div class="temp-low">2<span class="value"></span>°</div>
            </div>
            <div class="oneday">
              <div class="date">Sat</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">5<span class="value"></span>°</div>
              <div class="temp-low">1<span class="value"></span>°</div>
            </div>
            <div class="oneday">
              <div class="date">Sun</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">4<span class="value"></span>°</div>
              <div class="temp-low">1<span class="value"></span>°</div>
            </div>
            <div class="oneday">
              <div class="date">Mon</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">5<span class="value"></span>°</div>
              <div class="temp-low">-2<span class="value"></span>°</div>
            </div>
            <div class="oneday">
              <div class="date">Tue</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">2<span class="value"></span>°</div>
              <div class="temp-low">-3<span class="value"></span>°</div>
            </div>
            <div class="oneday">
              <div class="date">Wed</div>
              <div class="icon"><img class="img-responsive" src="assets\icon\01n@2x.png"></div>
              <div class="temp-high">4<span class="value"></span>°</div>
              <div class="temp-low">1<span class="value"></span>°</div>
            </div>
          </div>
          <ion-reorder slot="end"></ion-reorder>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-reorder-group>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="removeWeatherCard()">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addWeatherCard()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>