trigger:
- main

pr:
- none

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: sudo npm install -g @ionic/cli
  displayName: 'Install ionic'

- script: sudo npm install
  displayName: 'Npm install'
  workingDirectory: '$(Build.SourcesDirectory)/weather-pwa'

- script: sudo ionic build --prod --engine=browser
  displayName: 'Ionic build'
  workingDirectory: '$(Build.SourcesDirectory)/weather-pwa'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/weather-pwa/www'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

  # Publish the Build Artifact to DevOps for further processing (e.g. for downloading or using in Release Pipeline).
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'