<h1 mat-dialog-title>
  <ion-icon name="location"></ion-icon> Location
</h1>
<div mat-dialog-content>
  <p>Select a location</p>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option *ngFor="let location of data" [value]="location">
        {{location.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    <ion-icon name="close"></ion-icon> Cancel
  </button>
  <button mat-button [mat-dialog-close]="selectedValue" cdkFocusInitial>
    <ion-icon name="checkmark"></ion-icon> Ok
  </button>
</div>